# Entorno virtual de Python
venv/
env/
.venv/

# Caché de Python
__pycache__/
*.pyc
*.pyo

# Archivos de entorno y claves (por si en el futuro usan variables secretas)
.env

# Archivos de sistema
.DS_Store
Thumbs.db
